@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "~chartist/dist/scss/chartist";

$bg-color: #F5F3F8;
$main-color: #111E41;

* {
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
}

body {
    overflow-x: hidden;
}

li, ul {
    padding: 0;
}

.text-main {
    color: $main-color;
    font-weight: 700;
}

a, a:hover {
    text-decoration: none;
    color: #333;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.form-control, .btn {
    height: 55px;
    border-radius: 1.25rem;
    padding: .5rem 1rem;
    font-size: .9rem;
}

.btn {
    height: 50px;
}

.btn-main, .btn-main:hover {
    background: $main-color;
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn.btn-action {
    padding: .2rem 1.2rem !important;
    border-radius: 4px;
    font-size: .8rem;
    height: 38px;
}

.form-control:focus {
    outline: none !important;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: 600;
}

table {
    th, td {
        font-size: .9rem;
        color: #666;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        border-color: #EEEEEE !important;
    }

    td {
        color: #555;
        font-weight: 500;
    }
}

.account-page-wrapper {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: $bg-color;

    .account-container {
        width: 480px;
        background-color: #fff;
        padding: 3rem;
        box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
        border-radius: 5px;

        .account-header {
            margin-bottom: 2rem;
            text-align: center;

            small {
                font-size: 1.1rem;
                font-weight: 500;
                color: #444;
            }

            & > div {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                margin-bottom: .5rem;

                img {
                    margin-right: .3rem;
                }

                h3 {
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: $main-color;
                }
            }
            

        }
    }
}

#menu-toggle {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 320px;
    background: $main-color;
    color: #fff;
    z-index: 10;
    transition: left 400ms;

    .sidebar-brand {
        height: 85px;
        display: flex;
        align-items: center;
        padding: 0rem 2rem;

        h4 {
            font-size: 1.6rem;
            margin-top: .5rem;
            font-weight: 800;
            margin-left: .5rem;
        }
    }

    .sidebar-menu {
        padding: 2rem;

        li {
            margin-bottom: 1.5rem;

            a {
                font-size: 1.05rem;
                display: flex;
                align-items: center;
                color: #fff;

                span {
                    margin-right: .5rem;
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.main-content {
    margin-left: 320px;

    header {
        position: fixed;
        left: 320px;
        top: 0;
        height: 85px;
        background: #fff;
        width: calc(100% - 320px);
        border-bottom: 1px solid #F8F8F8;
        box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 1.5rem;
        transition: left 400ms;

        & > div {
            display: flex;
            align-items: center;
        }

        label {
            font-size: 2.3rem;
            display: inline-block;
            margin-right: 2rem;
        }

        .search-wrapper {
            height: 55px;
            background: $bg-color;
            border-radius: 15px;

            input {
                height: 55px;
                border: none;
                outline: none;
                background: transparent;
                padding: .5rem 1rem .5rem 1.5rem;
            }

            span {
                padding: 0rem 1.5rem 0rem 1rem;
            }
        }

        .account-img {
            height: 45px;
            width: 45px;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            margin-right: 1rem;
            background-image: url('../me.jpg');
        }

        .account-info {
            h5 {
                line-height: 0;
                font-size: .95rem;
                font-weight: 600;
            }

            small {
                display: inline-block;
            }
        }
    }
    

    main {
        background: $bg-color;
        margin-top: 85px;
        min-height: calc(100vh - 75px);
        padding: 2rem;

        .page-header {
            margin-bottom: 2rem;

            h3 {
                line-height: .5rem;
                color: $main-color;
            }
        }

        .claims-total-container {
            position: relative;

            .claims-total {
                background-color: $main-color;
                display: inline-block;
                padding: 1rem 2rem .5rem 2rem;
                border-radius: 20px;
                color: #fff;

                small {
                    position: absolute;
                    display: inline-block;
                    background-color: #fff;
                    color: $main-color;
                    top: -1.3rem;
                    left: 0rem;
                    border-radius: 10px;
                    padding: .2rem 1rem;
                    box-shadow: 0px 0px 13px 0px rgb(0 0 105 / 5%);
                    font-weight: 600;
                }   
            }
        }
        
        .analytics {
            margin-top: 2rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2.5rem;

            .analytic {
                border: 0px solid transparent;
                border-radius: 1.375rem;
                box-shadow: 0px 0px 13px 0px rgb(82 63 105 / 5%);
                background: #fff;
                padding: 2rem;
    
                .analytic-icon {
                    font-size: 2.5rem;
                }
    
                h4 {
                    font-weight: 700;
    
                    & + small {
                        color: #666;
                        font-weight: 500;
                        font-size: .95rem;
                    }
                }
            }
        }

        .charts {
            display: grid;
            grid-template-columns: 65% 35%;
            grid-gap: 2.5rem;
            align-items: center;
        }

        .account-card {
            overflow-x: hidden;
            margin-bottom: 1.875rem;
            background-color: #fff;
            transition: all .5s ease-in-out;
            position: relative;
            border: 0px solid transparent;
            border-radius: 1.375rem;
            box-shadow: 0px 0px 13px 0px rgb(82 63 105 / 5%);
            height: calc(100% - 30px);

            .card-header {
                padding: 1rem 2rem;
                background-color: #fff;

                .btn-share-claim {
                    background-color: $main-color;
                    color: #fff;
                    padding: .5rem 1rem;
                    box-shadow: 0px 0px 13px 0px rgb(82 63 105 / 5%);
                    border-radius: 20px;

                    span {
                        color: #fff;
                    }
                }
                
                .card-title {
                    font-weight: 600;
                }
            }
        }

        .claim-info-header {
            display: flex !important;
            justify-content: space-between;
            align-items: center;
        }

        .account-pagination {
            ul {
                justify-content: flex-end;

                li {
                    &:first-child {
                        button {
                            border-radius: 10px 0px 0px 10px;
                        }
                    }

                    &:last-child {
                        button {
                            border-radius: 0px 10px 10px 0px;
                        }
                    }

                    button {
                        color: $main-color;
                        font-size: .9rem;
                        padding: .5rem 1.5rem;

                        &:hover {
                            color: #fff;
                            background-color: $main-color;
                        }
                    }
                }
            }
        }

        .claims-detail-grid {
            display: grid;
            grid-template-columns: 30% auto;
            grid-gap: 2rem;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .sidebar {
        left: -100%;
    }

    .main-content {
        margin-left: 0;

        header {
            left: 0;
            width: 100%;
        }
    }

    #menu-toggle:checked ~ .sidebar {
        left: 0;
    }

    #menu-toggle:checked ~ .main-content {

        header {
            left: 320px;
            width: calc(100% - 320px);
        }
    }
}

@media only screen and (max-width: 768px) {
    .main-content {
        header {
            .search-wrapper {
                display: none;
            }
        }
        
        main {
            .analytics {
                grid-template-columns: repeat(2, 1fr);
            }

            .charts {
                grid-template-columns: 100%;
            }

            .claims-detail-grid {
                grid-template-columns: 100%;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .main-content {
        main {
            .analytics {
                grid-template-columns: 100%;
            }
        }
    }
}

